
.btn {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #dddcdc;
   height: 46px;
   width: 15%;
   border: 0;
   margin: 8px 0px;
   border-radius: 8px;
   color: #565577;
   font-size: 16px;
   padding: 0 20px;
   cursor: pointer;
}