.Navbar {
  background: #9bb2a032;
}

.Link {
  display: block;
  margin-right:5px;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
}

.Link:hover {
  color: #000;
}

.LinkDropDownTitle:hover {
  color: #000;
}

.LinkDropDown {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.LinkDropDown:hover {
  color: #0e0d0d8c;
  ;
}