.divArtItemAll {
   display: flex;
   align-items: center;
   justify-content: center;
}

.divArtItem {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4rem;
   margin: 2rem;
   flex-wrap: wrap;
}

// .divArtItem :hover {
//    box-shadow: 3px 6px 53px 7px rgba(0,0,0,0.75);;
//    -webkit-box-shadow: 3px 6px 53px 7px rgba(0,0,0,0.75);
//    -moz-box-shadow: 3px 6px 53px 7px rgba(0,0,0,0.75);
// }



.ImgArtItem {
   width: 570px;
   height: 427.5px;
   flex-shrink: 2;
}

.descriptionArtItem {
   width: 45%;
   text-align: justify;
   line-height: 160%;
}

@media (max-width: 1024px) {
   .ImgArtItem {
      width: 700px;
   }
   .descriptionArtItem {
      width: 70%;
   }
}

@media (max-width: 912px) {
   .ImgArtItem {
      width: 730px;
      height: 400px;
   }
   .descriptionArtItem {
      width: 85%;
   }
}

@media (max-width: 820px) {
   .ImgArtItem {
      width: 630px;
      height: 400px;
   }
   .descriptionArtItem {
      width: 80%;
   }
}

@media (max-width: 768px) {
   .ImgArtItem {
      width: 630px;
      height: 400px;
   }
   .descriptionArtItem {
      width: 90%;
   }
}

@media (max-width: 540px) {
   .ImgArtItem {
      width: 460px;
      height: 400px;
   }
   .descriptionArtItem {
      width: 90%;
   }
}

@media (max-width: 414px) {
   .ImgArtItem {
      width: 340px;
      height: 250px;
   }
   .descriptionArtItem {
      width: 100%;
   }
}

@media (max-width: 412px) {
   .ImgArtItem {
      width: 330px;
      height: 250px;
   }
   .descriptionArtItem {
      width: 90%;
   }
}


@media (max-width: 375px) {
   .ImgArtItem {
      width: 320px;
      height: 250px;
   }
   .descriptionArtItem {
      width: 100%;
   }
}



@media (max-width: 360px) {
   .ImgArtItem {
      width: 310px;
      height: 250px;
   }
   .descriptionArtItem {
      width: 100%;
   }
}






@media (max-width: 280px) {
   .ImgArtItem {
      width: 230px;
      height: 250px;
   }
   .descriptionArtItem {
      width: 90%;
   }
}

